/.vscode

/build/*
Tests/**/build*

/cpm_modules

.DS_Store

Documentation/Final Report

# LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.bbl
*.blg
*.bcf
*.run.xml

# editor-specific files
*.swp
*.bak
*.tmp