# project
/.vscode
/.cache

# build
/build*
Tests/**/build*

# Test
Tests/Benchmarks/
Tests/benchmark.sh
Misc/Zstd-Compression/test/*
!Misc/Zstd-Compression/test/original.txt

# LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.bbl
*.blg
*.bcf
*.run.xml

# editor-specific files
*.swp
*.bak
*.tmp

# tmporary ignorance
Documentation/Final Report
Src/BossHelpers/*