# project
/.vscode
/.cache
/.VSCodeCounter

# build
/build*
Tests/**/build*
Benchmarks/**/build*

# Test
Misc/Zstd-Compression/test/*
!Misc/Zstd-Compression/test/original.txt

# LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.bbl
*.blg
*.bcf
*.run.xml

# editor-specific files
*.swp
*.bak
*.tmp

# tpch
Include/TPC-H V3.0.1/
Data/tpch/data/

# temporary ignorance
Documentation/Final Report